@model List<Prj_CSharpGo.Models.Camp>
    @{
        ViewData["Title"] = "露營場地";
    }

<head>


<style>


    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, li, .li, p, .p {
        font-weight: 700;
    }

    .paginate.pag1 ul a:hover {
        background: #eee;
        color: #555;
    }



</style>




</head>
    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single" style="margin-top:-120px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">露營場地介紹</h1>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Intro Single-->
        <!-- ======= Blog Single ======= -->
        <section class="news-single nav-arrow-b">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>場地配置圖</h3>
                        <div class="news-img-box">
                            <img src="~/img/camp1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div>
                        <br>
                        <table class="table" style="font-size: 20px; font-weight: 700">
                            <thead>
                                <tr>
                                    <th scope="col">場地名稱</th>
                                    <th scope="col" style="width:450px">尺寸</th>
                                    <th scope="col">帳數</th>
                                    <th scope="col">平日</th>
                                    <th scope="col">假日</th>
                                    <th scope="col">詳細  </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.CampName</th>
                                        <td>@item.CampSize</td>
                                        <td>@item.CampQuantity 帳</td>
                                        <td>$@item.WeekdayPrice</td>
                                        <td>$@item.HolidayPrice</td>
                                        <td> <a href="/@item.Ahref" type="button" class="btn btn-success"style="font-weight: 700;font-size:18px">查看更多</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 15px; margin-left: -25px">
                        <a href="/Campreserve/index" type="button" class="btn btn-success" style="font-weight: 700;font-size:18px">點此預約</a>
                    </div>
                    
                    <div class="online margin-top-60">
                        <div class="content"><h2>場地資訊介紹</h2></div>
                        <div class="classify">
                            <div class="title" style="font-weight: 700">海拔</div>
                            <ul class="list-inline">
                                <li>300m以下</li>
                            </ul>
                        </div>
                        <div class="classify">
                            <div class="title" style="font-weight: 700">營區特色</div>
                            <ul class="list-inline">
                                <li>可停露營車</li>
                                <li>有遊戲設施	</li>
                                <li> 旅遊基地/景點	</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">衛浴配置</div>
                            <ul class="list-inline">
                                <li>分區浴廁</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">無線通訊</div>
                            <ul class="list-inline">
                                <li>中華電信有訊號</li>
                                <li>遠傳有訊號	</li>
                                <li>台哥大有訊號	</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">攜帶寵物</div>
                            <ul class="list-inline">
                                <li>可攜帶寵物	</li>
                                <li>需注意清潔  </li>
                                <li>需加鍊綁著，或放置籠內	</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">附屬設施</div>
                            <ul class="list-inline">
                                <li>戲水池</li>
                                <li>玩沙池</li>
                                <li>飲水機</li>
                                <li>吹風機</li>
                                <li>溜滑梯</li>
                                <li>鞦韆</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">附屬服務</div>
                            <ul class="list-inline">
                                <li>週邊賞螢</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">營業時間</div>
                            <ul class="list-inline">
                                <li>平日</li>
                                <li>假日</li>
                            </ul>
                        </div>

                        <div class="classify">
                            <div class="title" style="font-weight: 700">停車方式</div>
                            <ul class="list-inline">
                                <li> 車停營位旁</li>
                            </ul>
                        </div>
                    </div>


                    <div class="margin-bottom-20 margin-top-20">
                        <div class="content"><h2>場地須知</h2></div>

                        <article>
                            <h2 class="directions">
                                ※ 因配合園區休園至2021年7月底止，無法訂位請見諒。<br>
                                ※ 平台僅開放部份區域可訂位，如需全區包場請洽營主，謝謝。<br>
                                <br>
                                入拔營時間　：<br>
                                入營13:00  拔營 隔日12:00<br>
                                <br>
                                平假日定義　：<br>
                                平日：星期五 (訂金30%)<br>
                                假日：星期六、連假、年假 (訂金30%)<br>
                                休園：星期二<br>
                                <br>
                                ※ 一般營位僅提供場地使用。<br>
                                ※ 每營位限搭1睡帳、1客廳帳，附1停車位 (無法加車，如需加車請另外加訂營位)。<br>
                                ※ 每營位限4人使用，第5人起每人100元清潔費(可加2人，3歲以下免費)，最多6人。<br>
                                ※ 露宿車內，需依照營位費計算。<br>
                                ※ A1草地、VIP景觀區 於4/1起開放訂位<br>
                                ※ 營帳為特殊大型帳或5 x 8大天幕，有超過原本營位空間者，請訂2個營位，謝謝。<br>
                                ※ 部份區域可接車露(露營車/車頂/邊帳)，營位費用以每帳計算。<br>
                                <br>
                                ※ 訪客：不需收費，車需停放營區外，不負保管責任。（不可過夜，需要在晚上10點前離開)<br>
                                <br>
                                熱水供應時間：24小時供應<br>
                                電力供應時間：24小時供應
                            </h2>
                        </article>
                    </div>


                    <!-- <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="post-information">
        <ul class="list-inline text-center color-a">
          <li class="list-inline-item mr-2">
            <strong>Author: </strong>
            <span class="color-text-a">Morgan Jimenez</span>
          </li>
          <li class="list-inline-item mr-2">
            <strong>Category: </strong>
            <span class="color-text-a">Travel</span>
          </li>
          <li class="list-inline-item">
            <strong>Date: </strong>
            <span class="color-text-a">19 Apr. 2017</span>
          </li>
        </ul>
      </div>
      <div class="post-content color-text-a">
        <p class="post-intro">
          Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur
          <strong>adipiscing</strong> elit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
          Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
        </p>
        <p>
          Proin eget tortor risus. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum
          porta. Pellentesque
          in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet
          dui. Lorem ipsum dolor sit amet.
        </p>
        <p>
          Pellentesque in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac
          lectus. Curabitur
          non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Curabitur non
          nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada.
          Quisque velit nisi.
        </p>
        <blockquote class="blockquote">
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <strong>Albert Vargas</strong>
            <cite title="Source Title">Author</cite>
          </footer>
        </blockquote>
        <p>
          Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit
          tortor eget felis
          porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
        </p>
      </div>
      <div class="post-footer">
        <div class="post-share">
          <span>Share: </span>
          <ul class="list-inline socials">
            <li class="list-inline-item">
              <a href="#">
                <i class="bi bi-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="bi bi-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="bi bi-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="bi bi-linkedin" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
                    <!-- <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
      <div class="title-box-d">
        <h3 class="title-d">Comments (4)</h3>
      </div>
      <div class="box-comments">
        <ul class="list-comments">
          <li>
            <div class="comment-avatar">
              <img src="assets/img/author-2.jpg" alt="">
            </div>
            <div class="comment-details">
              <h4 class="comment-author">Emma Stone</h4>
              <span>18 Sep 2017</span>
              <p class="comment-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                ipsam temporibus maiores
                quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis.
              </p>
              <a href="3">Reply</a>
            </div>
          </li>
          <li class="comment-children">
            <div class="comment-avatar">
              <img src="assets/img/author-1.jpg" alt="">
            </div>
            <div class="comment-details">
              <h4 class="comment-author">Oliver Colmenares</h4>
              <span>18 Sep 2017</span>
              <p class="comment-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                ipsam temporibus maiores
                quae.
              </p>
              <a href="3">Reply</a>
            </div>
          </li>
          <li>
            <div class="comment-avatar">
              <img src="assets/img/author-2.jpg" alt="">
            </div>
            <div class="comment-details">
              <h4 class="comment-author">Emma Stone</h4>
              <span>18 Sep 2017</span>
              <p class="comment-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                ipsam temporibus maiores
                quae natus libero optio.
              </p>
              <a href="3">Reply</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-comments">
        <div class="title-box-d">
          <h3 class="title-d"> Leave a Reply</h3>
        </div>
        <form class="form-a">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="inputName">Enter name</label>
                <input type="text" class="form-control form-control-lg form-control-a" id="inputName" placeholder="Name *" required>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="inputEmail1">Enter email</label>
                <input type="email" class="form-control form-control-lg form-control-a" id="inputEmail1" placeholder="Email *" required>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="inputUrl">Enter website</label>
                <input type="url" class="form-control form-control-lg form-control-a" id="inputUrl" placeholder="Website">
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label for="textMessage">Enter message</label>
                <textarea id="textMessage" class="form-control" placeholder="Comment *" name="message" cols="45" rows="8" required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-a">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div> -->


                </div>
            </div>
        </section><!-- End Blog Single-->

    </main><!-- End #main -->
