@model List<Prj_CSharpGo.Models.Camp>;
@{
    ViewData["Title"] = "露營場地";
}

<head>


    <style>
        h2, .h2 {
            font-weight: 700;
        }
    </style>




</head>

    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single" style="margin-top:-120px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">場地資訊</h1>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Intro Single-->
        <!-- ======= Blog Single ======= -->
        <section class="section-about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 position-relative">
                        <div class="about-img-box">
                            <img src="~/img/wooden.PNG" alt="" class="img-fluid">
                        </div>
                        <div style="height: 150px; width: 500px; background-color: #F2FFF2 " class="sinse-box">
                            <h3 class="sinse-title">
                                B區木棧板(景觀露臺)
                                
                            </h3>
                        </div>
                    </div>

                    <div class="margin-top-30 margin-left-100">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                場地資訊
                                <a href="/Campreserve/index" type="button" class="btn btn-success"style="font-weight: 700;font-size:18px">點此預約</a>
                            </h3>
                        </div>

                        <article>
                            <h2 class="directions" style="font-size:20px">
                                本區型態：木棧板草地 營位 <br>
                                規格： 木棧板3M*6M可使用空間9 公尺 * 6 公尺 <br>
                                營位數： 5 帳 <br>
                                <br>
                                收費標準：<br>
                                平日營位一帳 1100元<br>
                                假日營位一帳 1300元<br>
                                <br>
                                說明：<br>
                                ※ 車停營位旁。<br>
                                ※ 水槽2個、電源電箱6個，建議自備5-10米延長線。<br>
                                ※ 另與B區公用5個水槽。<br>
                                ※ 營位由營主現場調配。<br>
                            </h2>
                        </article>
                    </div>


                    <div class="col-md-12 margin-top-30">
                        <div class="row">
                            <div class="col-md-6 col-lg-7">
                                <img src="~/img/toile.PNG" alt="" class="img-fluid">
                            </div>

                            <div class="col-md-6 col-lg-5 section-md-t5">
                                <div class="title-box-d">
                                    <h3 class="title-d">
                                        衛浴設備
                                    </h3>
                                </div>

                                <article>
                                    <h2 class="directions" style="font-size:20px">
                                        集中浴廁<br>
                                        男生衛浴廁所:小便斗1座、坐式1間、淋浴間2間<br>
                                        女生衛浴廁所:坐式1間、蹲式1間、淋浴間2間<br>
                                    </h2>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
   