@using Microsoft.AspNetCore.Http

@model Prj_CSharpGo.Models.Employee
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "新增帳號";
    Layout = "EmployeeLayout";
}

<h1 class="title_font">員工新增</h1>
<h4>
    請輸入新增資料
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/Create" method="post">

            <!-- 防止跨站請求偽造攻擊 -->
            @Html.AntiForgeryToken()

            <!-- data-val="true" 表示要進行驗證 -->
            <!-- data-val-required="不可為空白" 欄位空白顯示訊息「不可為空白」 -->
            <!-- data-valmsg-for 受驗證欄位的 name -->
            <!-- data-valmsg-replace 必要 -->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeEmail">Email</label>
                <input class="form-control col-sm-9" type="email" data-val="true" data-val-email="請輸入正確格式 example@mail.com" data-val-required="Email不可空白" id="EmployeeEmail" name="EmployeeEmail" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeEmail" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeName">名字</label>
                <input class="form-control col-sm-9" type="text" id="EmployeeName" name="EmployeeName" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="EmployeeName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeePassword">密碼</label>
                <input class="form-control col-sm-9" type="password" data-val="true" data-val-required="不可空白" id="EmployeePassword" name="EmployeePassword" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger " data-valmsg-for="EmployeePassword" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="EmployeeStatus">職稱</label>
                <select name="EmployeeStatus" id="EmployeeStatus" class="form-control col-sm-9">
                    <option value="false">員工</option>
                    <option value="true">主管</option>
                    <option value=" ">註銷</option>
                </select>
                <label class="col-sm-3 col-form-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" />
                <a href="/Employee" class="btn btn-danger">回到清單</a>
            </div>


            <div class="form-group d-inline">
                <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
            </div>
            <span>&emsp;</span>



        </form>
    </div>
</div>

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}


<!-- 帶資料的隱藏按鈕 -->
<script>
    $("#nowGive1").click(function (event) {
        $("#EmployeeEmail").val("Jay@mail.com");
        $("#EmployeeName").val("Jay");
        $("#EmployeePassword").val("Jay@mail.com");
        $("#EmployeeStatus").val("false");
    });

</script>