@using Microsoft.AspNetCore.Http

@model Prj_CSharpGo.Models.ViewModels.UpImg

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp

@{
    string empToastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

@{
    ViewData["Title"] = "ProductCreate";
    Layout = "EmployeeLayout";

}

<h1 class="title_font">請輸入新增資料</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Employee/ProductCreate" method="post" enctype="multipart/form-data">

            <div class="form-group d-inline">
                <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
            </div>
            <span>&emsp;</span>
            <div class="form-group d-inline">
                <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
            </div>

            @Html.AntiForgeryToken()
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductId">編號</label>
                <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="ProductId" name="ProductId" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductId" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="CategoryType">類別</label>
                <select name="CategoryType" id="CategoryType" class="form-control col-sm-9">
                    <optgroup label="帳篷">
                        <option value="a1">寢帳</option>
                        <option value="a2">客廳</option>
                        <option value="a3">天幕</option>
                        <option value="a4">帳篷周邊</option>
                    </optgroup>
                    <optgroup label="寢具">
                        <option value="b1">睡墊/充氣床/行軍床</option>
                        <option value="b2">睡袋/枕頭/毛毯</option>
                        <option value="b3">配件</option>
                    </optgroup>
                    <optgroup label="戶外家具">
                        <option value="c1">桌子</option>
                        <option value="c2">椅子</option>
                        <option value="c3">置物架</option>
                        <option value="c4">燈具</option>
                    </optgroup>
                    <optgroup label="廚房用品">
                        <option value="d1">爐具</option>
                        <option value="d2">炊煮用品</option>
                        <option value="d3">燒烤用品</option>
                        <option value="d4">餐飲用具</option>
                        <option value="d5">保冷設備</option>
                    </optgroup>
                    <option value="e0">食品</option>
                </select>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductName">名稱</label>
                <input class="form-control col-sm-9" type="text" data-val="true" data-val-required="不可空白" id="ProductName" name="ProductName" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductName" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="ProductDescription">敘述</label>
                <input class="form-control col-sm-9" type="text" id="ProductDescription" name="ProductDescription" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductDescription" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Specification">規格</label>
                <input class="form-control col-sm-9" type="text" id="Specification" name="Specification" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="Specification" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UnitPrice">單價</label>
                <input class="form-control col-sm-9" type="text" id="UnitPrice" name="UnitPrice" data-val="true" data-val-required="不可空白" data-val-number="應為數字" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UnitPrice" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="UnitInStock">庫存</label>
                <input class="form-control col-sm-9" type="text" id="UnitInStock" name="UnitInStock" data-val="true" data-val-required="不可空白" data-val-number="應為數字" value="" />
                <label class="col-sm-3 col-form-label"></label>
                <span class="text-danger field-validation-valid" data-valmsg-for="UnitInStock" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="Status">商品狀態</label>
                <select name="Status" class="form-control col-sm-9">
                    <option value="01">販賣中</option>
                    <option value="02">停賣</option>
                </select>
            </div>


            <div class="form-group row">
                @*<label asp-for="Img" ></label>
            <input asp-for="Img" accept="image/*"  class="form-control"/>
            <span asp-validation-for="Img" class="text-danger"> </span>*@

                <img id="output" style="width: 400px; height: 300px;" class="form-control mt-1" runat="server" />
                <input type="file" name="ImageFile" accept="image/*" onchange="loadFile(event)" runat="server">
            </div>

            <div class="form-group">
                <input type="submit" value="確定送出" class="btn btn-primary" runat="server" />
                <a href="/Employee/Product" class="btn btn-danger">回到清單</a>
            </div>



        </form>
    </div>
</div>

<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

@if (empToastr != "Guest")
{
    <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@empToastr");
        @{emp.HttpContext.Session.Remove("employeeToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
}

<script>
    $("#nowGive1").click(function (event) {
        $("#ProductId").val("Cc20CS059");
        $("#CategoryType").val("a1");
        $("#ProductName").val("氣候達人網屋400");
        $("#ProductDescription").val("絕佳透氣循環設計，大型紗網通風構造，遮光性PU塗層可抑制溫度上升，提升整體遮光效果.可與帳篷連結，並附有連結襟布，讓連結後的起居空間變得更寬廣  .附前庭柱");
        $("#Specification").val("(鋼/18mm*2)");
        $("#UnitPrice").val("22600");
        $("#UnitInStock").val("20");
        $("#Status").val("01");
    });
    $("#nowGive2").click(function (event) {
        $("#ProductId").val("Aa30SP051");
        $("#CategoryType").val("a1");
        $("#ProductName").val("桔楓印地安300帳");
        $("#ProductDescription").val("◆經典的那華荷花色印地安帳\n◆簡單搭設的單桿設計\n◆帳內頂端附有營燈掛勾\n◆專用收納袋\n高強度7075鋁合金營柱");
        $("#Specification").val("使用尺寸：300×250×180cm");
        $("#UnitPrice").val("8500");
        $("#UnitInStock").val("16");
        $("#Status").val("01");
    });
</script>