@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor emp
@{
    string empId = emp.HttpContext.Session.GetString("employeeId") ?? "Guest";
    string empName = emp.HttpContext.Session.GetString("employeeName") ?? "Guest";
    string empStatus = emp.HttpContext.Session.GetString("employeeStatus") ?? "Guest";
    string emptoastr = emp.HttpContext.Session.GetString("employeeToastr") ?? "Guest";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理  |  @ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/emplayout.css?v=0.1" rel="stylesheet" />

    @* 位置改到最後面 *@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/toastr.min.js"></script>*@


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            @{
                <!-- Sidebar - Brand -->
                <!-- Divider -->
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">
                        <i class="fas fa-fw"></i>
                        <span class="bar_font ">首頁</span>
                    </a>
                </li>

                <hr class="sidebar-divider">

                if (empId == "Guest")
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Employee/Login">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">登入</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Employee/Edit/@empId">
                            <i class="fas fa-fw"></i>
                            <p class="bar_font ">目前登入名字 : <p class="bar_font " style="text-align:center">@empName</p></p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Employee/Edit/@empId">
                            <i class="fas fa-fw"></i>
                            <p class="bar_font ">目前登入帳號 :</p><p class="bar_font " style="text-align:center">@empId</p>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/Employee/Logout">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">登出</span>
                        </a>
                    </li>

                    <hr class="sidebar-divider">

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                           aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">員工管理</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="/Employee/Index bar_font">員工資料</a>
                                <a class="collapse-item" href="/Employee/Index bar_font">員工紀錄</a>
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - Utilities Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseUtilities"
                           aria-expanded="true" aria-controls="collapseUtilities">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">會員管理</span>
                        </a>
                        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                             data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="/Employee/Member bar_font">會員資料</a>
                                <a class="collapse-item" href="/Employee/Order bar_font">訂單資料</a>
                            </div>
                        </div>
                    </li>

                    <!-- Nav Item - Charts -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Product">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">商品管理</span>
                        </a>
                    </li>

                    <!-- Nav Item - Tables -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Employee/Camp">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">營地管理</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Recipe">
                            <i class="fas fa-fw"></i>
                            <span class="bar_font ">食譜管理</span>
                        </a>
                    </li>
                }
            }

        </ul>

        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper">

            <div class="col-2">

            </div>
            <!-- Main Content -->
            <div id="content" class="col-10">
                @RenderBody()
            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>

    @*js更改位置*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>