@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user

@model Prj_CSharpGo.Models.User

@{
    ViewData["Title"] = "會員登入密碼變更";
}

@{
    string userId = user.HttpContext.Session.GetString("userId") ?? "Guest";
    string userToastr = user.HttpContext.Session.GetString("userToastr") ?? "Guest";
}

<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <style>
        h1 {
            text-align: center;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="align-content-center justify-content-start">【密碼變更】</h1>
            </div>
            <div class="col-12 col-md-12">
                <hr class="col-10 col-md-10  align-content-center justify-content-start" style="margin: 1vh auto; width: 100%; text-align: center; " />
            </div>
            <div class="col-12 col-md-12"></div>
            <!----------------------------------------- 過 渡 白 板 ---------------------------------------->
            <div class="col-1 col-md-1"></div>
            <!----------------------------------------- Start SideNavBar ---------------------------------------->
            <div class="side-navbar col-1 col-md-1">
                <!--<partial name="_ManageNav" />-->
                <ul class="list-group nav nav-pills flex-column">
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="profile" href="/Auth/Index">會員檔案</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="change-password" href="/Auth/ChangePassword">密碼設置</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="order-detail" href="/Auth/MemberOrder">訂單查詢</a></li>
                    <hr />
                    <li class="list-group-item nav-item border border-0"><a class="nav-link btn btn-outline-primary" id="order-detail" href="/Campreserve/MemberOrder">預約查詢</a></li>
                </ul>
            </div>
            <!----------------------------------------- 過 渡 白 板 ---------------------------------------->
            <div class="col-1 col-md-1"></div>
            <!----------------------------------------- End SideNavBar ---------------------------------------->

            <div class="row col-md-9 col-9">
                <form method="post" id="change-password-form" action="/Auth/ChangePassword">

                    <!--舊密碼驗證-->
                    <div class="form-group row d-flex justify-content-start">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock col-1"></i>
                                    </div>
                                </div>
                                <input type="password" name="OldPassword" id="id_password" class="form-control" data-val="true" data-val-required="舊密碼不可空白" placeholder="請輸入舊密碼" />
                                <i class="fas fa-eye form-control col-1 justify-content-center" id="togglePassword1" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                            </div>
                            @*<span asp-validation-for="UserPassword" class="text-danger"></span>*@
                        </div>
                    </div>

                    <!--新密碼驗證-->
                    <div class="form-group row d-flex justify-content-start">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock col-1"></i>
                                    </div>
                                </div>
                                <input type="password" name="NewPassword" class="form-control" id="id_password1" placeholder="請輸入新密碼" />
                                <i class="fas fa-eye form-control col-1 justify-content-center" id="togglePassword2" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                            </div>
                            @*<span asp-validation-for="NewPassword" class="text-danger"></span>*@
                        </div>
                    </div>

                    <!--新密碼二道驗證-->
                    <div class="form-group row d-flex justify-content-start">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock col-1"></i>
                                    </div>
                                </div>
                                <input type="password" name="confirmNewPassword" class="form-control" id="id_password2" placeholder="確認輸入新密碼" />
                                <i class="fas fa-eye form-control col-1 justify-content-center" id="togglePassword3" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                            </div>
                            @*<span asp-validation-for="confirmNewPassword" class="text-danger"></span>*@
                        </div>
                    </div>


                    <div class="form-group row d-flex justify-content-start">
                        <div class="col-6">
                            <div class="row d-flex justify-content-start d-inline col-8 d-inline">
                                <!--送出表單-->
                                <button type="submit" class="btn btn-outline-primary col-5 col-md-5">更新密碼</button>
                            </div>
                        </div>
                    </div>

                </form>

                <!-- 帶資料的隱藏按鈕 -->
                <div class="d-flex d-inline align-item-end justify-content-end col-6">
                    <div class="form-group d-inline">
                        <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
                    </div>
                    <span>&emsp;</span>
                    <div class="form-group d-inline">
                        <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
                    </div>
                </div>


            </div>
        </div>
    </div>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


    <!-- 帶資料的隱藏按鈕 -->
    <script>
        @* 新密碼與舊密碼相同 *@
        $("#nowGive1").click(function (event) {
            $("#id_password").val("csumis");
            $("#id_password1").val("wqfuhQrg234324$2dfkj");
            $("#id_password2").val("wqfuhQrg234324$2dfkj");
        });
        @* 正式新密碼 *@
        $("#nowGive2").click(function (event) {
            $("#id_password").val("wqfuhQrg234324$2dfkj");
            $("#id_password1").val("csumis");
            $("#id_password2").val("csumis");
        });
    </script>





    <!-- For 顯示密碼-->
    <script>
        const togglePassword1 = document.querySelector('#togglePassword1');
        const togglePassword2 = document.querySelector('#togglePassword2');
        const togglePassword3 = document.querySelector('#togglePassword3');

        const password = document.querySelector('#id_password');
        const password1 = document.querySelector('#id_password1');
        const password2 = document.querySelector('#id_password2');

        togglePassword1.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });

        togglePassword2.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
            password1.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });

        togglePassword3.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });

    </script>


    @if (userToastr == "密碼變更成功，請重新登入")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
            }

            else if (userToastr != "Guest" || userToastr == "您輸入的舊密碼有誤" || userToastr == "很抱歉！密碼未能變更成功")
            {
        <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
            }

            else if (userToastr != "Guest" || userToastr == "新密碼與第二道驗證密碼不相符" || userToastr == "密碼空空如也" || userToastr == "新密碼不可與舊密碼相同")
            {
        <script type="text/javascript">

        $(function () {

            Command: toastr["warning"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

</body>
</html>
