@{
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8"/>

    <title>驗證完成 - 一起露營吧！</title>
    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <style>
        body{
            margin:0;
            padding:0;
            width:100%;
        }

        h1{
            padding:1vh 1vw;
        }
    </style>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <h1 class="align-content-center justify-content-center">現在，您可至電子信箱收件完成會員資格認證</h1>
        </div>
    </div>
</body>
</html>
