@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@model Prj_CSharpGo.Models.User

@{
    ViewData["Title"] = "忘記密碼不慌";
}

@{
    string userToastr = user.HttpContext.Session.GetString("userToastr") ?? "Guest";
}

<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .container-fluid {
            width: 100%;
        }

        .row {
            width: 100%;
            padding-top: 2vh;
        }

        h1, h3 {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        .img-fluid {
            max-width: 30%;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <br />
            <br />

            <form action="/Auth/ForgotPassword" method="post">


                <div class="form-group row d-flex align-item-center justify-content-center">
                    <div class="col-12">
                        <div class="justify-content-center">
                            <h1>忘記密碼？</h1>
                        </div>
                    </div>
                </div>

                <h3 class="align-item-center justify-content-center">請在下方欄位輸入您的電子信箱</h3>

                <!--信箱-->
                <div class="form-group row d-flex justify-content-center">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope col-1"></i>
                                </div>
                            </div>
                            <input class="form-control" type="email" data-val="true" data-val-email="請輸入正確格式 example@mail.com" data-val-required="Email不可空白" id="Email" name="Email" placeholder="example@hotmail.com" />

                            <!--登入按鈕-->
                            <button type="submit" class="btn btn-outline-success" aria-expanded="false">確認送出</button>
                        </div>
                    </div>
                </div>

                <div class="input-group justify-content-center">
                    <h6 class="align-item-center justify-content-center">
                        或是您可以···&emsp;
                        <a href="/Auth/Register" class="btn btn-outline-primary" role="button">直接註冊</a>
                    </h6>
                </div>

            </form>


            <!-- 直接帶入資料的按鈕 -->
            <div class="d-flex d-inline align-item-end justify-content-end">
                <div class="form-group d-inline">
                    <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
                </div>
            </div>

        </div>
    </div>



    <!-- 帶資料的隱藏按鈕 -->
    <script>
        $("#nowGive1").click(function (event) {
            $("#Email").val("asd7333477@gmail.com");
        });
    </script>



    @if (userToastr == "Guest")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "此Email未註冊，這是您的Email嗎？" || userToastr == "不明的錯誤")
    {
        <script type="text/javascript">

        $(function () {

            Command: toastr["error"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "只要您輸入正確的Email，離露營就不遠囉！" || userToastr == "用這組Email，建立您自己的一組帳號吧！")
    {
    <script type="text/javascript">

        $(function () {

            Command: toastr["warning"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
    </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>