@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@model Prj_CSharpGo.Models.User

@{
    ViewData["Title"] = "登入";
    Layout = "~/Views/Shared/Auth/_AuthLayout.cshtml";
}

@{
    string userToastr = user.HttpContext.Session.GetString("userToastr") ?? "Guest";
}

<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
</head>

<body>

    <br />
    <img src="~/img/for_LoginForm.png" class="rounded mx-auto d-block img-fluid align-item-center justify-content-start" />
    <br />

    <form id="account" method="post" action="/Auth/Login">

        <!--帳號-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope col-1"></i>
                        </div>
                    </div>
                    <input asp-for="UserAccount" class="form-control" type="text" data-val="true" data-val-required="帳號不可空白" id="UserAccount" name="UserAccount" placeholder="請輸入帳號" />
                </div>
            </div>
        </div>

        <!--密碼-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock col-1"></i>
                        </div>
                    </div>
                    <input asp-for="UserPassword" class="form-control" type="password" data-val="true" data-val-required="密碼不可空白" id="UserPassword" name="UserPassword" value="" placeholder="請輸入密碼" />
                    <i class="fas fa-eye form-control col-1" id="togglePassword" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                </div>
            </div>
        </div>

        <!--記住密碼-->
        @*<div class="form-group row justify-content-center d-inline-block d-flex">
                <div class="col-8">
                    <div class="d-inline d-flex justify-content-start custom-control custom-checkbox custom-control-inline">
                        <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input">
                        <label for="checkbox_0" class="custom-control-label">
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>*@

        <!--忘記密碼-->
        <div class="form-group row justify-content-center d-inline-block d-flex">
            <div class="col-8">
                <div class="d-inline d-flex justify-content-start">
                    <a href="/Auth/ForgotPassword" id="forgot-password" style="text-decoration:none;">
                        <i class="fas fa-question-circle"></i>
                        <label style="cursor:pointer;">
                            忘記密碼
                        </label>
                    </a>
                </div>
            </div>
        </div>

        <!--登入按鈕-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-outline-primary">登入</button>
                </div>
            </div>
        </div>

    </form>


    <!-- 帶資料的隱藏按鈕 -->
    <div class="d-flex d-inline align-item-end justify-content-end">
        <div class="form-group d-inline">
            <button id="nowGive1" type="button" class="btn btn-light border border-0">點選後自動輸入帳號密碼</button>
        </div>
        <span>&emsp;</span>
        <div class="form-group d-inline">
            <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
        </div>
        <span>&emsp;</span>
        <div class="form-group d-inline">
            <button id="nowGive3" type="button" class="btn btn-light border border-0">.</button>
        </div>
    </div>





    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <!-- 帶資料的隱藏按鈕 -->
    <script>
        $("#nowGive1").click(function (event) {
            $("#UserAccount").val("csumis");
            $("#UserPassword").val("csumis");
        });
        $("#nowGive2").click(function (event) {
            $("#UserAccount").val("csumis");
            $("#UserPassword").val("wqfuhQrg234324$2dfkj");
        });
        $("#nowGive3").click(function (event) {
            $("#UserAccount").val("csumiss");
            $("#UserPassword").val("wqfuhQrg94$2dfkj");
        });
    </script>

    <!-- For 顯示密碼-->
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#UserPassword');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>


    @if (userToastr == "Guest" || userToastr == "登入成功" || userToastr == "會員已開通完成" || userToastr == "恭喜您完成密碼重置，現在您可以使用這組新密碼登入")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
            }
            else if (userToastr == "此帳號暫時無法使用，請聯繫客服" || userToastr == "無效帳號" || userToastr == "唉呀！出了點狀況···" || userToastr == "請重新登入" || userToastr == "帳號或密碼輸入有誤")
            {
        <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr != "Guest" || userToastr == "已有其他人使用了這組帳號，請建立一組您自己的帳號吧！" || userToastr == "請輸入完整的帳號密碼" || userToastr == "很抱歉！請重新申請忘記密碼")
    {
        <script type="text/javascript">

        $(function () {

            Command: toastr["warning"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

</body>
</html>