@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor user
@model Prj_CSharpGo.Models.User

@{
    ViewData["Title"] = "註冊";
    Layout = "~/Views/Shared/Auth/_AuthLayout.cshtml";
}

@{
    string userToastr = user.HttpContext.Session.GetString("userToastr") ?? "Guest";
}

<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/css/LoginRegister.css">
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
</head>

<body>

    <br />
    <br />
    <form action="/Auth/Register" method="post">

        <!--帳號-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-user col-1"></i>
                        </div>
                    </div>
                    <input class="form-control" type="text" data-val="true" data-val-required="帳號不可空白" id="Account" name="Account" placeholder="請輸入帳號" />
                </div>
            </div>
        </div>

        <!--主密碼-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock col-1"></i>
                        </div>
                    </div>
                    <input class="form-control" type="password" data-val="true" data-val-required="密碼不可空白" id="id_password" name="Password"placeholder="請輸入密碼" />
                    <i class="fas fa-eye form-control col-1" id="togglePassword" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                </div>
            </div>
        </div>

        <!--二道密碼-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock col-1"></i>
                        </div>
                    </div>
                    <input class="form-control" type="password" data-val="true" data-val-required="密碼不可空白" id="id_password1" name="ConfirmPassword"placeholder="確認密碼" />
                    <i class="fas fa-eye form-control col-1" id="togglePassword1" style="cursor: pointer; margin-left: -30px; z-index: 1000; justify-content: center; align-items: center; "></i>
                </div>
            </div>
        </div>


        <!--信箱-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope col-1"></i>
                        </div>
                    </div>
                    <input class="form-control" type="email" data-val="true" data-val-email="請輸入正確格式 example@mail.com" data-val-required="Email不可空白" id="Email" name="Email" placeholder="example@hotmail.com"/>
                </div>
            </div>
        </div>

        <!--登入按鈕-->
        <div class="form-group row d-flex justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-outline-primary">確認送出</button>
                </div>
            </div>
        </div>

    </form>


    <div class="d-flex d-inline align-item-end justify-content-end">
        @*<div class="form-group d-inline">
            <button id="nowGive1" type="button" class="btn btn-light border border-0">.</button>
        </div>
        <span>&emsp;</span>*@
        <div class="form-group d-inline">
            <button id="nowGive2" type="button" class="btn btn-light border border-0">.</button>
        </div>
    </div>





    <!-- 帶資料的隱藏按鈕 -->
    <script>
        @*$("#nowGive1").click(function (event) {
            $("#Account").val("StevenRunnigMan");
            $("#id_password").val("wqfuhQrg94$2dfkj");
            $("#id_password1").val("wqfuhQrg94$2dfkj");
            $("#Email").val("yhhttbb@gmail.com");
        });*@
        $("#nowGive2").click(function (event) {
            $("#Account").val("csumiss");
            $("#id_password").val("csumiss");
            $("#id_password1").val("csumiss");
            $("#Email").val("asd7333477@gmail.com");
        });
    </script>


    <!-- For 顯示密碼-->
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
        const password1 = document.querySelector('#id_password1');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });

        togglePassword1.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
            password1.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>





    @if (userToastr == "Guest")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["success"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "此帳號遭停權，請洽客服中心" || userToastr == "這是您的帳號嗎？")
    {
        <script type="text/javascript">

        $(function () {

        Command: toastr["error"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }
    else if (userToastr == "這組帳號有人使用囉！換一組帳號吧！" || userToastr == "Email 請填空" || userToastr == "換組 Email 吧！" || userToastr == "前後密碼不相符" || userToastr == "幫幫我！把格子填完吧！" || userToastr == "此帳號目前尚未誕生，請由您親手建立專屬自己的帳號吧！")
    {
        <script type="text/javascript">

        $(function () {

            Command: toastr["warning"]("@userToastr");
        @{user.HttpContext.Session.Remove("userToastr");}

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    })
        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>